.header{
    height: 18%;
    border-bottom: 1px solid #dce8e8;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 37px;
}
.body{
    display: flex;
    flex-direction: row;
}
.complete{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    flex-basis: 5%;
    border-left: 1px solid #dce8e8;
}
.dark{
    background-color: black;
}
.imageicon,svg{
    height: 30px; 
    width: 30px; 
    padding: 7px; 
    border: 1px solid black;
}