.header{
    height: 12%;
    border-bottom: 1px solid #dce8e8;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 37px;
}
.body{
    display: flex;
    flex-direction: row;
}
.complete{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.darktheme{
    background: #1b1f23;
    color: #dce8e8;
}
.theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    flex-basis: 5%;
    border-left: 1px solid #dce8e8;
}
.dark{
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}
.light{
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.imageicon,svg{
    height: 38px; 
    width: 38px; 
    padding: 7px; 
    border: 1px solid black;
}
.head{
    font-weight: bold; 
    margin: 0px 0px 7px;
}
.inputbox{
    display: inline;
}
.label{
    margin: auto 0px auto auto;
}
.dependencyheader{
    font-size: 22px;
    margin: 10px 0px;
    color: firebrick;
}
.scrollbar{
    height: 500px;
    overflow-y: scroll;
}
::ng-deep .scrollbar .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    display: none !important;
}
::ng-deep .scrollbar .ng-select .ng-arrow-wrapper {
    display: none;
}
::ng-deep .scrollbar .ng-select .ng-select-container  {
    border: none;
}
.subdependencylabel{
    margin: 5px; 
    cursor: pointer;
}
.subdependency{
    margin: 2px 0px;
    cursor: pointer;
}
.active-class{
    background-color: lightgrey;
}
.buttonstyle{
    background-color: gainsboro;
    width: 188px;
    height: 41px;
    border-radius: 9px;
    font-size: 20px;
}
